#friendfeed {
    position: fixed;
    top: 100px;

}

button#dropdownMenu1    {
    margin-top: 25px;
}

ul#dropdownlist {
    display:auto;
    margin-left: 339px;
    padding-top: inherit;
    padding-bottom: inherit;
}

#title  {
    text-align: center;
    font-size: 80px;
}

#rainbow    {
    font-size: 80px;
    text-align: center;
    background: -webkit-linear-gradient(#CEF6F5,#F6CECE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nopad   {
    list-style-type: none;
    padding: 0;
}

#moveright  {
    right: 2px;
}
