button#dropdownMenu1    {
    margin-top: 25px;
}

#title  {
    text-align: center;
    font-size: 80px;
}

#rainbow    {
    font-size: 80px;
    text-align: center;
    background: -webkit-linear-gradient(#CEF6F5,#F6CECE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nopad   {
    list-style-type: none;
    padding: 0;
}

#moveright  {
    right: 2px;
}
