<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="../../../chrome/icon.png">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Across the Aisle</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../static/grayscale.min.css" rel="stylesheet">
    <link href="../static/style6.css" rel="stylesheet">

    <!-- Chart -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

    <link type="image/x-icon" rel="icon" href="../static/favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Across <span class="light">the Aisle</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="#ext-usage">Extension Usage</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#source-analysis">Source Analysis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#read-analysis">Reading Habits</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#time-span">Time Span</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li>
                            <a id="logout" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a id="login" href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% if not current_user.is_authenticated %}
    <!-- Intro Header -->
    <header class="intro" style="background-image: url('static/bg.jpg')">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Across the Aisle</h1>
                        <p class="intro-text">A Chrome extension and dashboard for news diversification.
                            <br>Challenge your opinions. Diversify your news.</p>
                        {% if current_user.is_authenticated %}
                        <a href="#ext-usage" class="btn btn-circle page-scroll">
                            <span id="moveright" class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        {% else %}
                        <a href="#about" class="btn btn-circle page-scroll">
                            <span id="moveright" class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    {% if current_user.is_authenticated %}
    <div class="col-md-8">
        <!-- Extension Usage -->
        <section id="ext-usage" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Extension Usage</h2>
                    <div class="col-md-6">
                        <h4>{{ext['legend_ext'] | safe}}</h4>
                        <canvas id="chart" width="500" height="300"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ext['legend_alt_art'] | safe}}</h4>
                        <canvas id="chart2" width="500" height="300"></canvas>
                    </div>


                </div>
            </div>
        </section>

        <!-- Source Analysis -->
        <section id="source-analysis" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Source Analysis</h2>
                    <div class="row">
                        <canvas id="source-chart" width="900" height="300"></canvas>
                    </div>
                    <div class="row">
                        <br>
                        <h4>Most Read Sources: {{source['best_sources'] | safe}}</h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- Reading Analysis -->
        <section id="read-analysis" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Reading Habits</h2>
                    <h4>{{read['legend_article_frequency'] | safe}}</h4>
                    <div class="row">
                        <canvas id="read-chart" width="900" height="300"</canvas>
                    </div>
                    <div class="row">
                        <h4>Average time spent per article: {{read['average_time_spent_str']}}</h4>
                    </div>
                    <div class="row">
                        <h4>{{read['num_articles']}} Articles Read In Time Span</h4>
                    </div>
                    <div class="row">
                        <h4> Most Recently Read: </h4>
                        {% for title, url in read['most_recent'] %}
                            <a href={{url}} target="_blank"> {{title}}</a>                                
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Time Span Selection -->
        <section id="time-span" class="content-section text-center">
            <div class="row">
                <h2>Time Span Selection</h2>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle pad-top" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Change Timeframe of Data
                    <span class="caret"></span>
                </button>
                <ul id="dropdownlist" class="btn btn-default dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li id="year" style="width: 250px; display: block; text-align: center;"><a href = {{url_for('index', time=52)}}#time-span data-value="last year">Last Year</a></li>
                    <li id="month" style="width: 250px; display: block; text-align: center;"><a href = {{url_for('index', time=4)}}#time-span data-value="last month">Last Month</a></li>
                    <li id="week" style="width: 250px; display: block; text-align: center;"><a href = {{url_for('index', time=1)}}#time-span data-value="last week">Last Week</a></li>
                </ul>
            </div>

        </section>

    </div>

    <div class="col-md-4">
        <div id="friendfeed" class="well" style="background-color:#000">
            <ul class="nav">
                <li class="nav-header" style="text-align:center"><h3 id="feed" style="color: #fff">Friend Activity</h3></li>
                <hr style="border-color: #fff;">
                <li>
                    {% for friend in friends_data %}
                    <div class="row">
                        <div class="col-md-2">
                            </br>
                            <img style="border-radius: 50%;" src={{friend["imgsrc"]}} height="50" width="50">
                        </div>
                        <div class="col-md-10">
                            <h4> {{friend["name"]}} </h4>
                            Most Recent Article: 
                            <a target="_blank" href={{friend["most_recent_url"]}}>{{friend["most_recent_title"]}}</a>
                            </br>
                            Top Read Source: 
                            <a href='#'>{{friend["best_source"]}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>


    </div>

    {% endif %}

    {% if not current_user.is_authenticated %}
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Across the Aisle</h2>
                <p>Across the Aisle is a free Google Chrome extension that will recommend news articles of differing viewpoints when you use it on a news website.</p>
                <p>A dashboard providing information on user behavior accompanies the extension. Moreover, users can see what their friends are reading.</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p>Feel free to drop us a line and say hi!</p>
                <ul id="nopad">
                    <li>
                        <a href="https://linkedin.com/in/theodorachu" class="btn btn-default btn-lg"><span class="network-name">Theodora Chu</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nathaniel-okun-8a809287/" class="btn btn-default btn-lg"><span class="network-name">Nathaniel Okun</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/brandon-solis-34549297/" class="btn btn-default btn-lg"><span class="network-name">Brandon Solis</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/kenneth-xu-19666988/" class="btn btn-default btn-lg"><span class="network-name">Kenneth Xu</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

    {%if not current_user.is_authenticated %}
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Across the Aisle 2017</p>
        </div>
    </footer>
    {% endif %}
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/grayscale.min.js"></script>

    <script>
        /*
        function loggedIn()  {
            throw 'THIS SHIT DOESNT WORK'
            $messageCont = $('<div class="message_cont">');
            $message = $('<div>Some Message. Wait 3 secs!</div>').hide();
            $messageCont.append($message);
            $('body').prepend($messageCont);
            $message.fadeIn(400, function() {
                setTimeout(function(){
                    $messageCont.fadeOut();
                }, 3000)
            })
        }*/

        var mychart = document.getElementById("chart").getContext("2d");
        var secondPiechart = document.getElementById("chart2").getContext("2d");
        // draw chart
        var data = {
            labels: {{ext['labels_ext']|safe}},
            datasets: [{
                label: "Graph 1",
                data: {{ext['values_ext']}},
                backgroundColor: {{ext['colors_ext']|safe}},
                hoverBackgroundColor: {{ext['colors_ext']|safe}}
            }]
        };
        var data2 = {
            labels: {{ext['labels_alt_art']|safe}},
            datasets:[{
                label: "Graph 2",
                data: {{ext['values_alt_art']}},
                backgroundColor: {{ext['colors_alt_art']|safe}},
                hoverBackgroundColor: {{ext['colors_alt_art']|safe}}
            }]
        };
        var myPiechart = new Chart(mychart, {
            type: 'pie',
            data: data,
        });
        var secondPiechart = new Chart(secondPiechart, {
            type: 'pie',
            data: data2,
        });

        var sourcechart = document.getElementById("source-chart").getContext("2d");
        // draw chart
        var data3 = {
            labels: {{source['labels_sources']|safe}},
            datasets: [{
                data: {{source['values_sources']}},
                backgroundColor: {{source['colors_sources']|safe}},
                hoverBackgroundColor: {{source['colors_sources']|safe}}
            }]
        };
        var sourcechart = new Chart(sourcechart, {
            type: 'bar',
            data: data3,
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }],
                }
            }
        });



        var readchart = document.getElementById("read-chart").getContext("2d");
        // draw chart
        var data4 = {
            labels: {{read['labels_article_frequency']|safe}},
            datasets: [{
                data: {{read['values_article_frequency']}},
                borderColor: "rgba(75,192,192,1)",
            }]
        };
        var readchart = new Chart(readchart, {
            type: 'line',
            data: data4,
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }],
                }
            }
        });



    </script>

    </body>

</html>
